# #2 Strings and List objects

# Strings

## Creating a String

In [1]:
#Single quote (‘) or double quotes (“) must be used while creating a string.

# Single word

x = 'Welcome'
x

'Welcome'

In [2]:
# Entire phrase 

y = 'This is also a string'
y

'This is also a string'

In [3]:
# We can also use double quote

dq = "String built with double quotes"
dq

'String built with double quotes'

In [4]:
# Be careful with quotes!

'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-4-89bd22679d3b>, line 3)

## Printing a String

In [5]:
#Correct way to display strings in your output is by using a print function.

# Single word

x = 'Welcome'
print(x)

Welcome

In [6]:
# Entire phrase 

y = 'This is also a string'
print(y)

This is also a string

NOTE! 
Unlike Python 2 in Python 3, print is a function and not a statement. So you would print statements like this: print('Hello World')

## String Basics

### String Indexing

In [7]:
#Use indexing to call all the sequence parts.

val = 'This is a Test Code'
print(val)

This is a Test Code

In [8]:
#indexing

val[0]

'T'

In [9]:
val[7]

' '

In [10]:
val[15]

'C'

In [11]:
#We can also use negative indexing to go backwards.

val[-1]

'e'

### String Slicing

In [12]:
# Grab everything past the first term all the way to the length of s which is len(s)

val[3:]

's is a Test Code'

In [13]:
print(val)

This is a Test Code

In [14]:
# Grab everything UP TO the 11th index
#It doesn't include the 11th index.

val[:11]

'This is a T'

In [15]:
# Grab everything but the last letter

val[:-1]

'This is a Test Cod'

In [16]:
#We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1).

# Grab everything, but go in step sizes of 2

val[::2]

'Ti saTs oe'

In [17]:
# We can use this to print a string backwards

val[::-1]

'edoC tseT a si sihT'

## String Properties

### Immutability

In [18]:
#Once a string is created, the elements within it can not be changed or replaced.

word = 'Sleepy Head'
print(word)

Sleepy Head

In [19]:
# Let's try to change the first letter to 'C'

word[0] = 'C'

TypeError: 'str' object does not support item assignment

### Concatenate

In [20]:
#To join or link.

print (word)

Sleepy Head

In [21]:
# Concatenate strings!

'Hello ' + word

'Hello Sleepy Head'

In [22]:
# We can reassign s completely though!

s = 'Hello ' + word
print(s)

Hello Sleepy Head

### Multiplication

In [23]:
letter = 'ha'

In [24]:
letter*10

'hahahahahahahahahaha'

## Basic Built-in String methods

In [25]:
v = 'Lets Have Fun Together Friends'
print(v)

Lets Have Fun Together Friends

In [26]:
# Upper Case a string

v.upper()

'LETS HAVE FUN TOGETHER FRIENDS'

In [27]:
# Lower case a string

v.lower()

'lets have fun together friends'

In [28]:
# Split a string by blank space (this is the default)

v.split()

['Lets', 'Have', 'Fun', 'Together', 'Friends']

In [29]:
# Split by a specific element (doesn't include the element that was split on)

v.split('e')

['L', 'ts Hav', ' Fun Tog', 'th', 'r Fri', 'nds']

There are many more methods than the ones covered here.

## Print Formatting

In [30]:
#Print Formatting ".format()" method is used to add formatted objects to the printed string statements.

'When life says you are not Right than {}'.format('"Go Left"')

'When life says you are not Right than "Go Left"'

## Location and Counting

In [31]:
print(val)
val.count('s')

This is a Test Code

3

In [32]:
val.find('a')

8

In [33]:
#The center() method allows you to place your string 'centered' between a provided string with a certain length.

val.center(40,'x')

'xxxxxxxxxxThis is a Test Codexxxxxxxxxxx'

## is check methods

In [34]:
s = 'kernel'

In [35]:
#isalnum() will return "True" if all characters in S are alphanumeric.

s.isalnum()

True

In [36]:
#isalpha() wil return "True" if all characters in S are alphabetic.

s.isalpha()

True

In [37]:
#islower() will return "True" if all cased characters in S are lowercase and there is at least one cased character in S, False otherwise.

s.islower()

True

In [38]:
#isupper() will return "True" if all cased characters in S are uppercase and there is at least one cased character in S, False otherwise.

s.isupper()

False

In [39]:
#isspace() will return "True" if all characters in S are whitespace.

s.isspace()

False

In [40]:
#istitle() will return "True" if S is a title cased string. Return False otherwise.

s.istitle()

False

In [41]:
#Another method is endswith() which is essentially same as a boolean check on s[-1]

s.endswith('l')

True

## Built-in Reg. Expressions

In [42]:
#Split the string at a certain element and return a list of the result.

s.split('e')

['k', 'rn', 'l']

In [43]:
#Partition is used to return a tuple that includes the separator (the first occurrence).

s.partition('e')

('k', 'e', 'rnel')

## End Strings

# Lists

In [44]:
#The most general version of a "sequence", unlike strings, they are mutable.
#Lists are constructed with brackets [] and commas separating every element.

my_list = [1,2,3,4,5]
type(my_list)

list

In [45]:
my_list = ['Word','Number',666,333,999]
print(my_list )

['Word', 'Number', 666, 333, 999]

In [46]:
#len() function in list is similar to a string.

len(my_list)

5

## Indexing and Slicing

In [47]:
#Indexing and slicing of lists works just like in Strings.

my_list = [1,2,3,'four','five']

In [48]:
# Grab element at index 4

my_list[4]

'five'

In [49]:
# Grab index 2 and everything past it

my_list[2:]

[3, 'four', 'five']

### Concatenate

In [50]:
#We can also use "+" to concatenate lists, just like we did for Strings.

my_list + ['six']

[1, 2, 3, 'four', 'five', 'six']

Note: This doesn't actually change the original list!

In [51]:
my_list

[1, 2, 3, 'four', 'five']

In [52]:
#In this case, you have to reassign the list to make the permanent change.

my_list = my_list + ['This was itll be added']
my_list

[1, 2, 3, 'four', 'five', 'This was itll be added']

In [53]:
#We can also use the * for a duplication method similar to strings:

# Make the list double

my_list * 2

[1,
 2,
 3,
 'four',
 'five',
 'This was itll be added',
 1,
 2,
 3,
 'four',
 'five',
 'This was itll be added']

## Basic List Methods

In [54]:
l = [11,22,33]

### Append

In [55]:
# Append

l.append('Fourty Four')
print(l)

[11, 22, 33, 'Fourty Four']

### Pop

In [56]:
# Pop off the 0 indexed item

l.pop(0)

11

In [57]:
print(l)

[22, 33, 'Fourty Four']

In [58]:
# Assign the popped element, remember default popped index is -1

popped_item = l.pop()

In [59]:
print(popped_item)

Fourty Four

In [60]:
print(l)

[22, 33]

### Sort and Reverse

In [61]:
my_list = ['s','o','r','t']
print(my_list)

['s', 'o', 'r', 't']

In [62]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)

my_list.sort()
print(my_list)

['o', 'r', 's', 't']

In [63]:
my_list = ['r','e','v','e','r','s','e']
print(my_list)

['r', 'e', 'v', 'e', 'r', 's', 'e']

In [64]:
# Use reverse to reverse order (this is permanent!)

my_list.reverse()
print(my_list)

['e', 's', 'r', 'e', 'v', 'e', 'r']

## Nesting Lists

In [65]:
#We can have data structures within data structures.

# Let's make five lists
list_1=['one','two']
list_2=['three','four']
list_3=['five','six']
list_4=['seven','eight']
list_5=['nine','ten']

# Make a list of lists to form a matrix
Fun = [list_1,list_2,list_3,list_4,list_5]

print(Fun)

[['one', 'two'], ['three', 'four'], ['five', 'six'], ['seven', 'eight'], ['nine', 'ten']]

In [66]:
#We can re-use indexing to grab elements.

print(Fun[1])
print(Fun[1][1])

['three', 'four']
four

## List Comprehensions

In [67]:
#Quick construction of lists.

# Build a list comprehension by deconstructing a for loop within a []

WoW = [row[0] for row in Fun]
print(WoW)

['one', 'three', 'five', 'seven', 'nine']

## Advanced Lists

In [68]:
x = ['a','e','i']

### Count

In [69]:
#Takes in an element and returns the number of times it occures.

x.count('a')

1

In [70]:
x.count('x')

0

### Extend

In [71]:
#Extends list by appending elements from the iterable.

x.extend(['o','u'])
print(x)

['a', 'e', 'i', 'o', 'u']

### Index

In [72]:
#Returns the element placed as an argument.

x.index('i')

2

### Insert

In [73]:
#Places the object at the index supplied.

x.insert(0,'HaHa')
print(x)

['HaHa', 'a', 'e', 'i', 'o', 'u']

### Remove

In [74]:
#Removes the first occurrence of a value.

x.remove('HaHa')
print(x)

['a', 'e', 'i', 'o', 'u']

## End Lists

# The End